# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Development
*.sh

# Test binary, built with `go test -c`
*.test
# Test Data
test-data/
*.aes
*.jpg
*.mp3
*.mp4
*.pdf
*.md


# Output of the go coverage tool, specifically when used with LiteIDE
go-encryptor
/releases
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
